.post {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 1.5px solid lighten($secundary, 20%);
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 0 0 10px $secundary;

  &:hover {
    cursor: pointer;
    border-color: $secundary;
  }
}

.post_info {
  display: flex;
  align-items: center;
  a {
    margin-left: 1rem;
  }
  img {
    width: 2rem;
    height: 2rem;
    max-height: 2rem;
    border-radius: 50%;
  }
}

.post_preview {
  position: relative;

  ::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    //background: linear-gradient(to top, white, transparent);
  }
}

.post_media {
  width: 100%;
  img {
    margin: auto;
  }
}

.post_interactions {
  display: flex;

  button {
    margin-right: 1rem;
    z-index: 1;
    &:hover {
      color: $primary;
    }
  }
}

.post_head {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .more {
    height: 1rem;
    position: relative;
    color: $secundary;
    i {
      transform: rotate(90deg);
    }

    .more_options {
      position: absolute;
      display: none;
      background-color: $back-color;
      box-shadow: 0 0 10px $secundary;
      border-radius: 5px;
      right: 50%;
      overflow: hidden;
      color: $primary;

      div {
        padding: 0.5rem;
        &:hover {
          background-color: $primary;
          color: $back-color;
        }
      }
    }

    &:hover {
      .more_options {
        display: block;
      }
    }
  }
}
